**

!books_app/api
!books_app/books_app
!books_app/enviroment
!books_app/manage.py
!books_app/tests
!books_app/pytest.ini
!books_app/test_fixture.json
!books_app/static

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.pytest_cache
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
**/__pycache__
dist
docs
env
logs
src/node_modules
web/media
web/static/CACHE
stats
